

.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* padding: 1em 2em; */
	background-color: var(--header-bg-color);
    color: var(--header-color);
    background-color: var(--main-bg-color);
}

.social-logos {
	border-radius: 0.2em;
	height: 1.2em;
	width: 1.2em;
	margin: 1.2em;
	transition: all 1s;
}

.social-logos:hover {
	box-shadow: 0 0 0.25em 0.25em rgb(245, 243, 243);
	transform: scale(1.2);
}


.footer-btn:hover {
	background-color: var(--productCard-bg-color);
    color: var(--button-bg-color);
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.15em 0.15em var(--productCard-bg-color)

}

.footer-btn {
	background-color: var(--button-bg-color);
    color: var(--button-color);
    border-radius: 0.3em;
    border: 1px solid var(--buttonBorder-color);
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;
}

.admin-btn:hover {
	
    
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.25em 0.25em rgb(245, 243, 243);

}

.admin-btn {
	background-color: var(--main-bg-color);
    color: white;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;
	border: 1px solid rgb(245, 243, 243)
}

@media (max-width: 555px) {
    .footer-container {
        display: flex;
       flex-direction: column;
       align-self: center;
    }
}