.header-btn {

    background-color: var(--button-bg-color);
    color: var(--button-color);
    border-radius: 0.3em;
    border: 1px solid var(--buttonBorder-color);
    padding: 0.25em 0.5em;
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;

}

.header-btn:hover  {
    background-color: var(--productCard-bg-color);
    color: var(--button-bg-color);
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    /* box-shadow: 0 0 0.15em 0.15em var(--button-color) */
}