.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 1em;
    background-color: var(--header-bg-color);
    color: var(--header-color);
    background-color: var(--main-bg-color);
}

.navlink-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo-btn, .cart-btn { 
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;
    border-radius: 0.3em;
}

.logo-btn:hover, .cart-btn:hover {
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.15em 0.15em var(--productCard-bg-color);
    background-color: var(--productCard-bg-color);
}

.logo-btn {
    height: 2em;
    width: 5em;
}

.cart-btn {
    height: 2em;
    width: 4em;
    background-color: var(--button-bg-color);
    border: 1px solid var(--buttonBorder-color);
    
}



.header-btn {

    background-color: var(--button-bg-color);
    color: var(--button-color);
    border-radius: 0.3em;
    border: 1px solid var(--buttonBorder-color);
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;

}

.header-btn:hover {
    background-color: var(--productCard-bg-color);
    color: var(--button-bg-color);
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.15em 0.15em var(--productCard-bg-color)
}


@media (max-width: 400px) {
    .logo-btn {
        height: 2em;
        width: 5em;
    }

    .cart-btn {
        height: 1.5em;
        width: 3em;
        
        
    }
    .header-btn {

        
        padding: 0.25em 0.5em;
        
    
    }
}