:root {

    --buttonBorder-color: rgba(135, 255, 255, 1);
    --button-bg-color: rgba(36, 20, 174, 1);
    --button-color: rgba(255, 230, 9, 1);
    --text-color: rgba(255, 249, 196, 1);
    --productCard-color: rgba(32, 83, 99, 1);
    --productCard-bg-color: rgba(176, 225, 231, 1);
    --adminBtn-bg-color: rgba(105, 104, 104, 1);
    --bestText-color: rgba(205, 219, 142, 1);
    --bestText-bg-color: rgba(74, 74, 74, 1);

}