.admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    min-height: 84vh;
    overflow: hidden;
}

.admin-product-card {
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: var(--bestText-bg-color);
    color: var(--bestText-color);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
}

.product-title-admin {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    text-align: center;
    color: var(--bestText-color);
}

.product-image-admin {
    width: 15%;
    max-height: 200px;
    border-radius: 0.3em;
}

.card-price-admin {
    font-size: 1.5em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.add-edit-button {
    background-color: var(--editAdd-btn-bg-color);
    color: var(--button-color);
    border-radius: 0.3em;
    border: 1px solid var(--buttonBorder-color);
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;
}

.add-edit-button:hover:not(:disabled) {
    background-color: var(--editAddHover-bg-color);
    color: white;
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.15em 0.15em var(--productCard-bg-color);
}

.add-edit-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.delete-button {
    background-color: var(--delete-btn-bg-color);
    color: var(--button-color);
    border-radius: 0.3em;
    border: 1px solid var(--buttonBorder-color);
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;
}

.delete-button:hover:not(:disabled) {
    background-color: var(--deleteHover-btn-bg-color);
    color: white;
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.15em 0.15em var(--productCard-bg-color);
}

.delete-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}