
.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--header-bg-color);
    color: var(--header-color);

    margin-top: 1em;
}

.socials-container {
    display: flex;
    justify-content: space-between;
    min-width: 260px;
    align-items: center;    
}

.social-logos {
	border-radius: 0.2em;
	height: 1.5em;
	width: 1.5em;
	margin: 1.2em;
	transition: all 1s;
}

.social-logos:hover {
	box-shadow: 0 0 0.25em 0.25em rgb(245, 243, 243);
	transform: scale(1.2);
}

.navlink-footer {
    text-decoration: none;
}


.footer-btn:hover {
	background-color: var(--productCard-bg-color);
    color: var(--button-bg-color);
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.15em 0.15em var(--productCard-bg-color)

}

.footer-btn {
	background-color: var(--button-bg-color);
    color: var(--button-color);
    border-radius: 0.3em;
    border: 1px solid var(--buttonBorder-color);
    padding: 1.1em;
    width: 102px;
    height: 48px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-btn:hover {
	
    
    transition: all 0.5s ease-in;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.25em 0.25em rgb(245, 243, 243);

}

.admin-btn {
	background-color: var(--main-bg-color);
    color: white;
    border-radius: 0.3em;
    padding: 1.1em;
    width: 102px;
    height: 48px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0.25em;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 750px) {
    .footer-container {
        display: flex;
       flex-direction: column;
       align-self: center;
    }

    .admin-btn {
        width: 140px;
        height: 40px;
    }
    
    .footer-btn {
        width: 225px;
        height: 40px;
    }
}