*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--main-bg-color);
}